In [1]:
import numpy as np
import pandas as pd

In [184]:
# import raw GFF
gene_df_raw = pd.read_csv('GRCh37_latest_genomic.gff',sep='\t',header=None,comment='#',engine='python')

In [185]:
gene_df_raw.head()

,0,1,2,3,4,5,6,7,8
0,NC_000001.10,RefSeq,region,1,249250621,.,+,.,ID=id0;Dbxref=taxon:9606;Name=1;chromosome=1;g...
1,NC_000001.10,BestRefSeq,gene,11874,14409,.,+,.,"ID=gene0;Dbxref=GeneID:100287102,HGNC:HGNC:371..."
2,NC_000001.10,BestRefSeq,transcript,11874,14409,.,+,.,"ID=rna0;Parent=gene0;Dbxref=GeneID:100287102,G..."
3,NC_000001.10,BestRefSeq,exon,11874,12227,.,+,.,"ID=id1;Parent=rna0;Dbxref=GeneID:100287102,Gen..."
4,NC_000001.10,BestRefSeq,exon,12613,12721,.,+,.,"ID=id2;Parent=rna0;Dbxref=GeneID:100287102,Gen..."

In [258]:
# determined which columns to use
gene_df_init = pd.read_csv('GRCh37_latest_genomic.gff',sep='\t',header=None,comment='#',
                         usecols=[0,1,2,3,4,6,8])

In [235]:
gene_df_init.tail()

,0,1,2,3,4,6,8
1288065,NC_012920.1,RefSeq,exon,15888,15953,+,ID=id632674;Parent=rna68813;Dbxref=GeneID:4576...
1288066,NC_012920.1,RefSeq,gene,15956,16023,-,"ID=gene47211;Dbxref=GeneID:4571,HGNC:HGNC:7494..."
1288067,NC_012920.1,RefSeq,tRNA,15956,16023,-,ID=rna68814;Parent=gene47211;Dbxref=GeneID:457...
1288068,NC_012920.1,RefSeq,exon,15956,16023,-,ID=id632675;Parent=rna68814;Dbxref=GeneID:4571...
1288069,NC_012920.1,RefSeq,D_loop,16024,17145,-,ID=id632676;gbkey=D-loop

In [259]:
chr_names = {'NC_000001.10':1,'NC_000002.11':2,'NC_000003.11':3,'NC_000004.11':4,
            'NC_000005.9':5,'NC_000006.11':6,'NC_000007.13':7,'NC_000008.10':8,
            'NC_000009.11':9,'NC_000010.10':10,'NC_000011.9':11,'NC_000012.11':12,
            'NC_000013.10':13,'NC_000014.8':14,'NC_000015.9':15,'NC_000016.9':16,
            'NC_000017.10':17,'NC_000018.9':18,'NC_000019.9':19,'NC_000020.10':20,
            'NC_000021.8':21,'NC_000022.10':22,'NC_000023.10':'X','NC_000024.9':'Y',
            'NC_012920.1':'M'}

In [260]:
# converted chromosome names
gene_df_init[0]=gene_df_init[0].replace(chr_names)

In [261]:
gene_df_init.head()

,0,1,2,3,4,6,8
0,1,RefSeq,region,1,249250621,+,ID=id0;Dbxref=taxon:9606;Name=1;chromosome=1;g...
1,1,BestRefSeq,gene,11874,14409,+,"ID=gene0;Dbxref=GeneID:100287102,HGNC:HGNC:371..."
2,1,BestRefSeq,transcript,11874,14409,+,"ID=rna0;Parent=gene0;Dbxref=GeneID:100287102,G..."
3,1,BestRefSeq,exon,11874,12227,+,"ID=id1;Parent=rna0;Dbxref=GeneID:100287102,Gen..."
4,1,BestRefSeq,exon,12613,12721,+,"ID=id2;Parent=rna0;Dbxref=GeneID:100287102,Gen..."

In [241]:
# remove names not converted (patches and alternatives - not reliable)

# gene_df_init = gene_df_init.loc[~gene_df_init[0].astype(str).str.contains('NC_0')]
gene_df_init.to_csv('test.tsv',sep='\t',index=False)

In [262]:
gene_df1 = gene_df_init.loc[(gene_df_init[2]=='gene')&(~gene_df_init[8].str.contains('pseudo=true'))&
                          (~gene_df_init[8].str.contains('partial=true'))&
                           (~gene_df_init[8].str.contains('exception='))]

Compare ncols between pre-filtered and post-filtered for "gene".

In [263]:
print(len(gene_df_init.index),len(gene_df1.index))

1288070 30023

In [264]:
gene_df1.head()

,0,1,2,3,4,6,8
19,1,BestRefSeq,gene,17369,17436,-,"ID=gene2;Dbxref=GeneID:102466751,HGNC:HGNC:500..."
26,1,BestRefSeq,gene,30366,30503,+,"ID=gene3;Dbxref=GeneID:100302278,HGNC:HGNC:352..."
31,1,BestRefSeq,gene,34611,36081,-,"ID=gene4;Dbxref=GeneID:645520,HGNC:HGNC:32334;..."
38,1,BestRefSeq,gene,69091,70008,+,"ID=gene7;Dbxref=GeneID:79501,HGNC:HGNC:14825,H..."
49,1,BestRefSeq,gene,134773,140566,-,ID=gene10;Dbxref=GeneID:729737;Name=LOC729737;...

In [265]:
# to split out the info in this column
gene_df1[8].to_csv('gene_df_intermediate.tsv',sep='\t',index=False)

In [266]:
gene_df2 = pd.read_csv('gene_df_intermediate.tsv',sep=';',index_col=False,skipinitialspace=True,
                     error_bad_lines=False,warn_bad_lines=True,header=None,
                       usecols=[1,2,3])

In [267]:
gene_df2.head()

,1,2,3
0,"Dbxref=GeneID:102466751,HGNC:HGNC:50039,miRBas...",Name=MIR6859-1,description=microRNA 6859-1
1,"Dbxref=GeneID:100302278,HGNC:HGNC:35294,miRBas...",Name=MIR1302-2,description=microRNA 1302-2
2,"Dbxref=GeneID:645520,HGNC:HGNC:32334",Name=FAM138A,description=family with sequence similarity 13...
3,"Dbxref=GeneID:79501,HGNC:HGNC:14825,HPRD:14974",Name=OR4F5,description=olfactory receptor family 4 subfam...
4,Dbxref=GeneID:729737,Name=LOC729737,description=uncharacterized LOC729737

In [268]:
# extract just GeneID for column 1

gene_df2[1]=gene_df2[1].str.extract('GeneID:(\d+)',expand=False).astype(int)

In [269]:
# extract gene name for column 2

gene_df2[2]=gene_df2[2].str.extract('Name=(.*)',expand=False)

In [270]:
# extract description from column 3

gene_df2[3]=gene_df2[3].str.extract('description=(.*)',expand=False)

In [271]:
# make column names more descriptive

gene_df2.columns=['geneID','gene_name','description']

In [320]:
# grab useful columns from gene_df

gene_df3 = gene_df1[[0,2,3,4,6]].reset_index(drop=True)

In [327]:
gene_df = gene_df2.merge(gene_df3,left_index=True,right_index=True)

In [328]:
gene_df.head()

,geneID,gene_name,description,0,2,3,4,6
0,102466751,MIR6859-1,microRNA 6859-1,1,gene,17369,17436,-
1,100302278,MIR1302-2,microRNA 1302-2,1,gene,30366,30503,+
2,645520,FAM138A,family with sequence similarity 138 member A,1,gene,34611,36081,-
3,79501,OR4F5,olfactory receptor family 4 subfamily F member 5,1,gene,69091,70008,+
4,729737,LOC729737,uncharacterized LOC729737,1,gene,134773,140566,-

In [329]:
gene_df.columns=['geneID','gene_name','description','chrom','desc','start','stop','strand']

In [330]:
gene_df.head()

,geneID,gene_name,description,chrom,desc,start,stop,strand
0,102466751,MIR6859-1,microRNA 6859-1,1,gene,17369,17436,-
1,100302278,MIR1302-2,microRNA 1302-2,1,gene,30366,30503,+
2,645520,FAM138A,family with sequence similarity 138 member A,1,gene,34611,36081,-
3,79501,OR4F5,olfactory receptor family 4 subfamily F member 5,1,gene,69091,70008,+
4,729737,LOC729737,uncharacterized LOC729737,1,gene,134773,140566,-

In [331]:
chrom_set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,'Y','X','M'}

In [333]:
# remove unmapped/alternative chromosome entries

gene_df = gene_df[gene_df['chrom'].isin(chrom_set)]

In [334]:
gene_df.to_csv('gene_df_complete.tsv',sep='\t',index=False)